{% extends 'base_generic.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/game.css' %}" />
{% endblock %}

{% block content %}
  <div id="game-meta">
    <!-- Header -->
    <header id="game-header">
      <!-- Placeholder for header content -->
    </header>

    <!-- main Game Area -->
    <div id="game-container">
      <div id="game-area">
        <canvas id="drawingCanvas" width="800" height="600"></canvas>
      </div>
      <div id="game-sidebar">
        <div id="game-chat"></div>
        <div id="game-guess">
          <p>Your Guess:</p>
          <input type="text" id="guess-input" />
          <button id="guess-button">Submit</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/canvas.js' %}"></script>
{% endblock %}
