/* colours */
:root {
  --primary-color: #4a4e69; /* Dark purple */
  --secondary-color: #9a8c98; /* Muted lavender */
  --background-color: #22223b; /* Very dark blue */
  --text-color: #f2e9e4; /* Light beige */
  --border-color: #4a4e69; /* Matches primary color */
}
/* -- */
/* body */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

nav {
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

#logo {
  height: 50px;
  border-radius: 50%;
}

/* buttons */
button {
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
}

button:hover {
  background-color: var(--primary-color);
}
