/* colours */
:root {
  --primary-color: #4a4e69; /* Dark purple */
  --secondary-color: #9a8c98; /* Muted lavender */
  --background-color: #22223b; /* Very dark blue */
  --text-color: #f2e9e4; /* Light beige */
  --border-color: #4a4e69; /* Matches primary color */
}
/* -- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* body */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}
/* -- */

/* round corners */
.rounded {
  border-radius: 4px;
}

.account-form {
  background: #ffffff;
  color: #000000;
  padding: 1px 20px 20px 20px;
  border-radius: 10px;
  margin: 60px auto;
  width: 350px;
  max-width: 90%;
}

form p {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 10px;
}
