{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drawesome</title>
    {% comment %}styles{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/components/base.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="#">Draw</a>
        {% if user.is_authenticated %}
          <a href="#">Logout</a>
        {% else %}
          <a href="#">Login</a>
          <a href="#">Register</a>
        {% endif %}
      </nav>
    </header>
    <main>
      {% block content %}

      {% endblock %}
    </main>
  </body>
</html>
