{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drawesome</title>
    {% comment %}styles{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}" />
    {% block extra_css %}

    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'home' %}"><img id="logo" src="{% static 'images/logo.png' %}" alt="Drawesome Logo" /></a>

        {% if user.is_authenticated %}
          {% if game_playing %}
            {% comment %}display game info{% endcomment %}
          {% else %}
            <a href="#">Draw</a>
          {% endif %}
          <a href="/accounts/logout">Logout</a>
          {% if game_playing %}
            {% comment %}game quit stuff{% endcomment %}
          {% endif %}
        {% else %}
          <a href="/accounts/login">Login</a>
          <a href="/accounts/signup">Register</a>
        {% endif %}
      </nav>
    </header>
    <main>
      {% block content %}

      {% endblock %}
    </main>

    {% block extra_js %}

    {% endblock %}
  </body>
</html>
